h1,
p {
  margin: 0;
}

h1.capitalize.aos-init.aos-animate.about.sub.header {
  color: white;
}


.about {
  // background-color: colors(light-blue);
  background-color: #36b37e;
  padding-top: 8rem;
  padding-bottom: 20rem;

  &-heading {
    flex-direction: column;
  }

  &-box {
    margin-left: 4.5rem;
    margin-top: -13.8rem;
    padding-bottom: 5rem;

    @include breakpoint(big-desktop-up) {
      align-items: center;
      justify-content: center;
    }

    &__card {
      background-color: colors(white);
      margin: 0 5rem;
      padding: 2rem;
      width: 45%;
    }
  }
}

.investors {
  background-color: #36b37c;
  padding: 2rem 1rem;

  &-images {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.news {
  background: -webkit-linear-gradient(90deg,
      rgba(54, 179, 124, 1) 0%,
      rgba(54, 179, 124, 1) 100%);

  &-card {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 250px);
    grid-gap: 35px;
    padding-bottom: 4rem;

    justify-content: center;

    @include breakpoint(tablet-landscape-up) {
      grid-template-columns: repeat(3, 220px);
    }

    @include breakpoint(big-desktop-up) {
      grid-template-columns: repeat(5, 300px);
      justify-content: center;
    }

    &__content {
      background-color: colors(white);
      border-top-left-radius: 0.3rem;
      border-top-right-radius: 0.3rem;
      border-bottom-left-radius: 0.3rem;
      border-bottom-right-radius: 0.3rem;
      color: #000;
      margin-bottom: 1.2rem;
      display: flex;
      flex-direction: column;

      &--image {
        border-top-left-radius: 0.3rem;
        border-top-right-radius: 0.3rem;
        height: 10rem;
        margin-bottom: 1rem;
        background-color: transparent !important;
      }

      &--text {
        margin: 0 1rem;
      }
    }
  }
}

@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .about {
    &-heading {
      text-align: center;

      & h1 {
        font-size: 1.4rem;
        margin-bottom: 0.5rem;
      }
    }

    &-box {
      display: block;
      margin-top: -18rem;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      padding-bottom: 2rem;

      &__card {
        width: 100%;
        margin: 0 0.3rem;
        border-radius: 1rem;
      }

      .box-images {
        display: none !important;
      }
    }
  }

  .investors {
    background-color: colors(white) !important;

    &-title {
      padding: 0 !important;
    }

    &-images {
      flex-direction: column;
      margin: 0 auto;

      img {
        padding-right: 0;
        padding-top: 0;
        padding-bottom: 2rem;
      }
    }
  }

  .news-card {
    grid-template-columns: repeat(1, 1fr);
    padding: 0;
    margin: 0 1rem;
  }
}

@media (min-width: 320px) and (max-width: 400px) {
  .news-card {
    grid-template-columns: repeat(1, 345px);
  }
}

@media (min-width: 790px) and (max-width: 1280px) {
  .about-box {
    margin-left: 2.5rem;
  }

  // .news-card {
  //   margin-left: 5.5rem;
  // }
}

img.about-small.aos-animate {
  border-radius: 5rem;
}