h1,
p {
  margin: 0;
  color: colors(dark-text);
}

.list-careers li::before {
  content: "\2022";
  color: colors(green);
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  padding-top: 1rem;
}

.app.careers-text-3 {
  font-weight: 900;
  text-align: center;
}

.careers {
  font-family: Avenir;
  // background-color: colors(light-blue);
  background-color: #36b37c;
  line-height: 1.5;
  padding-top: 6rem;
  padding-bottom: 20rem;
  color: colors(dark-text);

  &-heading {
    flex-direction: column;
  }

  &-box {
    margin-left: 2.5rem;
    margin-top: -14.8rem;
    padding-bottom: 5rem;
    color: colors(dark-text);

    @include breakpoint(big-desktop-up) {
      align-items: center;
      justify-content: center;
    }

    &__images img {
      width: 30rem;
    }

    &__card {
      background-color: colors(white);
      margin: 0 5rem;
      padding: 2rem;
      width: 45%;
    }
  }
}

.line {
  margin: 2.5rem 0;
  background-color: black;
  height: 0.05rem;
  width: 15rem;
}

// .role-job {
//   border-bottom: 1px solid #d5d5d5;
//   padding-bottom: 1rem;
//   margin: 2rem 15rem;
// }
.investors {
  background-color: #36b37c;
  padding: 2rem 1rem;
}

//Accordion
.accordion-section {
  display: flex;
  flex-direction: column;
  margin: 1rem 10rem;
  border-bottom: 0.1px solid #36b37c;
  ;
  padding-bottom: 2rem;
}

.accordion-title {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  border: none;
  outline: none;
  transition: background-color 0.6s ease;
}

.accordion-title:hover {
  // background-color: #ccc;
}

.accordion-icon {
  margin-left: auto;
  transition: transform 0.6s ease;
}

.rotate {
  transform: rotate(90deg);
}

.accordion-content {
  // background-color: #eee;
  color: #444;
  overflow: hidden;
  transition: max-height 0.6s ease;
}

ul {
  list-style: disc;
}

ul>li {
  font-weight: 500 !important;
}

h1 {
  color: #000;
}

// .margin-1 {
//   margin: 1rem 0 !important;
// }
.roles-title {
  margin: 1rem 0;
}

.role {
  margin: 1rem 0;
}

.conclusion {
  margin-top: 1rem;
}

//Media Queries
@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .accordion-section {
    margin: 1rem 2rem;
  }

  .careers {
    &-heading {
      text-align: center;

      & h1 {
        font-size: 1.4rem;
        margin-bottom: 0.5rem;
      }
    }

    &-box {
      display: block;
      margin-top: -18rem;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      padding-bottom: 2rem;

      &__card {
        width: 100%;
        margin: 0 0.3rem;
        border-radius: 1rem;
      }

      &__images {
        display: none;
      }
    }
  }

  .role-job {
    margin: 0.5rem;
  }

  .line {
    width: 8.5rem;
  }
}