h1,
p {
  margin: 0;
}

// .map-contact {
//   width: 85rem;
//   margin-left: 2rem;
//   z-index: 0;
//   position: absolute;
//   top: 16%;
//   height: 85%;

//   @include breakpoint(tablet-landscape-up) {
//     width: 58rem;
//     margin-left: 5rem;
//   }
//   @include breakpoint(big-desktop-up) {
//     width: 156rem;
//   }
// }

//disabled
.disabled {
  background-color: #afdac8 !important;
  pointer-events: none;
}
.gradient-header {
  background: transparent
    linear-gradient(180deg, #eff7fb 0%, #eff7fb 48%, #eff7fb00 100%) 0% 0%
    no-repeat padding-box;
}
.contact-section {
  position: fixed;
  bottom: 5%;
  left: 68.5%;
  z-index: 10;

  @include breakpoint(phone-only) {
    margin: 7rem 2rem;
    position: relative;
    left: 0;
  }
}
form,
.input-text {
  color: #282a3c;
}

#chartdiv {
  display: none;

  @include breakpoint(tablet-portrait-up) {
    display: block;
  }
  @include breakpoint(tablet-landscape-up) {
    display: block;
  }
  @include breakpoint(desktop-up) {
    display: block;
  }
  @include breakpoint(big-desktop-up) {
    display: block;
  }
}

.contact {
  @include breakpoint(phone-only) {
    display: relative;
  }
  &-nav {
    display: flex;
    justify-content: flex-end;
    color: colors(green);
    margin-bottom: 1rem;
  }
  &-text {
    z-index: 10;
  }
  &-button {
    text-align: right;
    margin-top: 1rem;
  }
  &-heading {
    flex-direction: column;
    color: colors(dark-text);
  }
  &-info {
    margin-bottom: 1rem;
    font-size: 10px;
    padding-left: 1rem;
    background-color: colors(blue);
    max-width: 350px;
    border-radius: 10px;
    box-shadow: 0 2px 4px #bbb;

    &__details {
      padding: 1rem;
      background-color: #fff;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }
  &-box {
    font-size: 10px;
    padding: 1rem;
    //background-color: colors(light-blue);
    background-color: #ff932f;
    max-width: 350px;
    border-radius: 10px;
    box-shadow: 0 2px 4px #bbb;
    @include breakpoint(big-desktop-up) {
      max-width: 650px;
    }

    &__card {
      background-color: colors(white);
      margin: 0 5rem;
      padding: 2rem;
      width: 45%;
    }
  }
}
.map-button {
  background-color: #36b37e;
  padding: 12px;
  display: flex;
  border-radius: 10px;
}
.map-icon-smaller {
  font-size: 14px;
  color: colors(white);
}
.bhee-select {
  width: 100%;
  height: 35px;
  outline: none;
  font-size: 1rem;
  z-index: 1;
  border: 1px solid #ddd;
  border-radius: 6px;
  -webkit-appearance: none;
  // padding: 12px;
  padding-left: 10px;
  padding-right: 30px;
  color: colors(green);
  margin-top: 5px;

  // background-image: url("../images/down-arrow.png") !important;
  background-size: 12px auto !important;
  background-repeat: no-repeat !important;
  background-position: right 10px bottom 13px !important;
  background: #fff;

  input[type="text"],
  input[type="password"],
  input[type="tel"],
  .select {
    z-index: 1;
    padding: 12px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: 1px solid #dddbd7;
    border-radius: 0.4rem;
    background: #fff;
    color: #282a3c;
  }

  .react-tel-input {
    margin: 5px 0 22px 0;
  }
  .react-tel-input input[type="tel"] {
    width: 240px !important;
    height: 37px !important;

    @include breakpoint(phone-only) {
      width: 300px !important;
      height: 37px !important;
    }
  }

  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="tel"]:focus {
    outline: none;
    background-color: #fff;
    border: 1px solid colors(green);
    border-radius: 10px;
  }

  textarea {
    z-index: 10;
    border: 1px solid #d5d5d5;
    border-radius: 15px;
    padding: 7px;
    background: #fff;
    outline: none;
    border-radius: 5px;
    height: 100px;

    &:focus {
      outline: none;
      background-color: #fff;
      border: 1px solid colors(green);
      border-radius: 10px;
    }
  }
}
.react-tel-input .form-control {
  width: 241px !important;
  height: 40px !important;
}
.map-marker {
  /* adjusting for the marker dimensions
    so that it is centered on coordinates */
  margin-left: -8px;
  margin-top: -8px;
  box-sizing: border-box;
}
.map-marker.map-clickable {
  cursor: pointer;
}
.pulse {
  width: 10px;
  height: 10px;
  border: 5px solid colors(green);
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background-color: #716f42;
  // z-index: 10;
  position: absolute;
  box-sizing: border-box;
}
.map-marker .dot {
  border: 10px solid #fff601;
  background: transparent;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  height: 50px;
  width: 50px;
  -webkit-animation: pulse 3s ease-out;
  -moz-animation: pulse 3s ease-out;
  animation: pulse 3s ease-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  position: absolute;
  top: -20px;
  left: -20px;
  z-index: 1;
  opacity: 0;
  box-sizing: border-box;
}

@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(0);
    opacity: 0;
  }
  25% {
    -moz-transform: scale(0);
    opacity: 0.1;
  }
  50% {
    -moz-transform: scale(0.1);
    opacity: 0.3;
  }
  75% {
    -moz-transform: scale(0.5);
    opacity: 0.5;
  }
  100% {
    -moz-transform: scale(1);
    opacity: 0;
  }
}
@-webkit-keyframes "pulse" {
  0% {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  25% {
    -webkit-transform: scale(0);
    opacity: 0.1;
  }
  50% {
    -webkit-transform: scale(0.1);
    opacity: 0.3;
  }
  75% {
    -webkit-transform: scale(0.5);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}

//Media

@media (max-width: 768px) {
  form {
    // width: 280px;
    overflow-x: hidden;
  }
  .contact {
    // position: fixed;
    overflow-x: hidden;
  }
  .contact-box {
    margin: 0 auto;
    padding: 1.5rem;

    &__images {
      & .grid-input,
      textarea {
        // max-width: 280px;
        grid-template-columns: 1fr;
      }
    }
  }
  .contact-button {
    padding-bottom: 2.5rem;
  }

  .map-contact {
    display: none;
    width: 1rem;
    margin-left: -6rem;
  }
  .ghana,
  .nigeria,
  .togo,
  .kenya,
  .uganda {
    display: none;
  }
}
