li {
  list-style: none;
}

a {
  text-decoration: none;
  color: colors(white);
  color: inherit;
}

select {
  outline: none;
  border: none;
  appearance: none;
  color: colors(white);
  padding: 0.2rem 1rem;
  border-radius: 2rem;
}

.orange-header {
  background-color: colors(light-orange) !important;
}

.header {
  font-size: 0.9rem;
  z-index: 99;
  color: colors(white);
  width: 100vw;
  position: fixed;
  padding: 1rem 0rem;
  display: flex;
  align-items: center;
  justify-content: space-around;

  &-underline {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      bottom: 0;
      width: 100%;
      height: 2px;
      background-color: colors(#36b37e);
      transform-origin: center;
      transform: translate(-50%, 0) scaleX(0);
      transition: transform 0.3s ease-in-out;
    }

    &:hover::before {
      transform: translate(-50%, 0) scaleX(1);
    }
  }

  &_list {
    display: flex;
    margin: 0 1rem;

    & a {
      margin: 0 1rem;
    }
  }

  &_language {
    background-color: colors(green);
  }

  & img {
    width: 5.5rem;
    border-radius: 0em;
  }
}

//side menu
.close {
  display: none;
}

.nav-list {
  margin: 0 auto;
}

.close-button {
  padding: 1rem;
  display: flex;
  justify-content: flex-start;
}

.header-menu {
  display: none;
  cursor: pointer;

  &__list {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #000000;
    overflow-x: hidden;
    padding-top: 5em;
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    transform: translateX(-1000px);
    transition: 0.3 all ease-in-out;
  }

  & .btn-line {
    cursor: pointer;
    width: 1.5rem;
    height: 0.2rem;
    background-color: colors(green);
    margin-bottom: 0.3rem;
    margin-left: 1rem;
  }
}

.side-menu {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  padding-top: 5em;
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
  transform: translateX(1000px);
  overflow-y: hidden;
  overflow-x: hidden;
}

.show {
  transform: translateX(0);
  transition: 0.3 all ease-in-out;
}

.sticky {
  // background-color: colors(dark-text);
  color: #fff;
  position: fixed;
  padding: 0.2rem;
  transition: all 0.3s ease-in-out;
  top: 0;
  transition: 0.3s all;

  & img {
    width: 4rem;
  }
}

.select-dropdown {
  position: relative;
  background-color: colors(green);
  width: auto;
  float: left;
  max-width: 100%;
  border-radius: 4px;

  select {
    font-size: 0.8rem;
    font-weight: 500;
    max-width: 100%;
    padding: 8px 24px 8px 10px;
    border: none;
    appearance: none;
    outline: none;
    box-shadow: none;
  }

  &:after {
    content: " ";
    position: absolute;
    top: 50%;
    margin-top: -2px;
    right: 8px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
  }
}


.dropdown-content div {
  transition: all 0.3s ease-in-out;
  text-transform: capitalize;

  &:hover {
    color: colors(orange);
  }

  &.active {
    background-color: colors(orange);
    color: colors(white);
    margin: 0;
    padding: 0.7rem 1rem;

  }

  &.country {
    padding: 0.7rem 1rem;
  }
}

.dropdown-content {
  & .dropdown {
    margin-left: 1em;
  }
}

.country-dropdown {
  width: 8rem !important;
  height: 250px;
  overflow-y: scroll;
}

.dropdown-content span {
  transition: all 0.3s ease-in-out;
  margin-right: .5rem;

  &:hover {
    padding-left: 0.1rem;
    color: colors(orange);
  }
}

.kobo360:active .dropdown-content {
  transition: 0.45s all ease-out;
}

.left-100 {
  left: -125% !important;
}

.set-flex {
  display: flex;
  align-items: center;
}

.kobo360 {
  position: relative;

  >img {
    width: 20px;
    height: 20px;
    margin-left: .5em;
  }

  &:hover .dropdown-content {
    opacity: 1;
    visibility: visible;
    transition: 0.45s all ease-out;
  }
}

.kobocare-dropdown-span {
  padding: .5rem 0rem;
}

.kobocare-dropdown {
  position: relative;

  &:hover .dropdown-content {
    opacity: 1;
    visibility: visible;
    transition: 0.45s all ease-out;
  }
}

.dropdown-content {
  border-radius: 0.4rem;
  width: 10rem;
  color: #000;
  // padding: 0rem 1rem;
  box-sizing: border-box;
  background-color: colors(white);
  cursor: pointer;
  position: absolute;
  transition: 0.05s all ease-out;
  right: -50%;
  transform: translateY(0);
  opacity: 0;
  visibility: hidden;
}

//image-mask
.image-mask {
  background-size: cover;
  // background-image: url("../img/bhee.jpg");
  background-position: center;
  text-align: center;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font: 700 15vw "Open Sans", sans-serif;
}

//MOBILE VIEW
@media (max-width: 820px) {
  body {
    overflow-x: hidden;
    width: 100%;
  }

  .nav-list li {
    &:first-child {
      margin-bottom: 1rem;
    }

    margin-top: 1rem;

    &:hover {
      color: colors(orange);
    }

    &:active {
      color: colors(orange);
    }
  }

  .dropdown-content {
    background-color: colors(input);
    color: colors(white);

    padding: 1rem;
    z-index: 1;
    width: 10rem;
    right: -50%;
  }

  .kobo360:active .dropdown-content {
    transform: translateY(0);
    transition: 0.45s all ease-out;
    color: colors(orange);
  }

  .header {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0.5rem 2rem;

    &_list {
      display: none;
    }

    &-menu {
      display: block;
    }

    // .select-dropdown {
    //   display: none;
    // }
    // .kobo360 {
    //   display: none;
    // }
  }
}

.hamburger {
  cursor: pointer;
  height: 40px;
  width: 28px;
  position: relative;
  padding: 12px;
  margin-right: 12px;
  z-index: 2;

  .bar {
    position: absolute;
    width: 28px;
    background-color: colors(orange);
    top: 50%;
    height: 1px;
    transition: 0.3s ease-in-out;

    &:nth-child(1) {
      transform: translateY(-4px);
    }

    &:nth-child(2) {
      transform: translateY(4px);
    }
  }

  &.open {
    .bar {
      &:nth-child(1) {
        transform: translateY(0) rotate(45deg);
      }

      &:nth-child(2) {
        transform: translateY(0) rotate(-45deg);
      }
    }
  }
}

.mobile-sel {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-top: .3rem;

  & .select-dropdown {
    margin-bottom: 1rem;
  }
}
