%button {
  cursor: pointer;
  margin: 0 auto;
  outline: none;
  border: none;
  padding: 0.5rem 1rem;
  position: relative;
  min-width: 150px;
  margin-top: 10px;
  font-size: 0.8rem;
  border-radius: 2.5rem;
  color: #fff;
  transition: all 0.3s;
  opacity: 0.9;
  background-color: colors(green);

  &:hover {
    transition: all 0.4s;
    opacity: 1;
  }
  &:active {
    background-color: colors(orange);
    top: 8px;
  }
}
.width-100 {
  width: 100%;
}

.underline-mail {
  text-decoration: underline;
}
.index-1 {
  z-index: 1 !important;
}
.rotate-90 {
  transition: 0.15s ease-in-out;
  &:hover {
    transition: 0.3s ease-in-out;
    transform: rotate(180deg);
  }
}
.contact-icon {
  width: 1.4rem !important;
  margin-right: 0.5rem;
}
.free {
  display: block;
}
.shadow {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.16);
}

.space-between {
  justify-content: space-between;
}

.green {
  color: colors(green) !important;
}
.transition {
  transition: all 0.3s;
}

.capitalize {
  text-transform: uppercase !important;
}

.overflow-head {
  overflow-x: hidden;
}

.bold {
  font-weight: bold !important;
}

.nav-item {
  margin: 0 1rem;
}
.flex {
  display: flex !important;
}
.flex-align-center {
  display: flex !important;
  align-items: center;
}
.flex-column {
  display: flex !important;
  flex-direction: column;
}

.grid {
  display: grid;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}
.bg-white {
  background-color: #fff;
}

.height-16 {
  height: auto;
  @include breakpoint(desktop-up) {
    height: 16rem;
  }
}

.font-size-1rem {
  font-size: 0.9rem !important;
}
.pd-top-bottom-1 {
  padding: 1rem 0;
}
.padding-1 {
  padding: 1rem;
}
.padding-1-top {
  padding: 1rem 0rem;
}

.padding-1-bottom {
  margin-bottom: rem;
}

.card-justify {
  justify-content: space-evenly;
}

.grey {
  color: #8f8f8f;
}

.margin-1 {
  margin-top: 1rem !important;
}
.margin-top-10 {
  margin-top: 10rem !important;
}

.relative-home {
  position: relative !important;
}
.margin-left-1 {
  margin-left: 1rem !important;
}

.margin-left-5 {
  margin-left: 5rem !important;
}

.hover-scale {
  transition: 0.2s all;

  &:hover {
    transform: scale(1.2);
    transition: 0.2s all;
  }
}
.light-blue {
  background-color: colors(light-blue);
}

.light-orange {
  // background-color: colors(light-orange) !important;
  background-color: #ff932f  !important;
}
.orange {
  background-color: colors(orange);
}
.orange-color {
  color: colors(orange);
}
.pdr-1 {
  padding-right: 1rem;
}
.pd-1 {
  padding-right: 0.3rem;
}

.big {
  padding-right: 5rem;
  // padding-top: 1rem;
  width: 125px;
}
.smaller {
  width: 17px !important;
}
.smaller-pointer {
  width: 25px !important;
}
.width-50 {
  width: 50% !important;
}
.width-40 {
  width: 40% !important;
}
.space-between {
  justify-content: space-between;
}
.pointer-margin-5 {
  margin-right: 17px;
}
.pointer {
  cursor: pointer;
}
.small-icon {
  width: 150px;
  padding-right: 5rem;
}
.font-smaller {
  font-size: 14px;
  @include breakpoint(small-phone-only) {
    font-size: 11px;
  }
}
.font-icon-smaller {
  font-size: 14px;
  padding-right: 5px;
}
.font-icon-small {
  padding: 5px;
  font-size: 10px;
}

.bg-blue {
  background-color: colors(blue);
}
.margin-bottom-1 {
  margin-bottom: 1rem;
  @include breakpoint(phone-only) {
    margin-bottom: 5px;
  }
}

.pulse {
  animation: shadow-pulse 1s infinite;
}
.new-pulse {
  animation: new-pulse 1s infinite;
}

.movement {
  animation: move-around 9s infinite;
}

.title {
  padding: 2rem 1rem;
  text-align: center;
  font-weight: normal;
}
.font-5 {
  font-size: 1.5rem;
  @include breakpoint(phone-only) {
    font-size: 1.1rem;
  }
}
.font-10 {
  font-size: 2.9rem;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.no-bullets {
  list-style: none !important;
}

.no-bold {
  font-weight: 200;
}

.no-bg {
  background-color: transparent !important;
}
.small {
  width: 10rem;

  @include breakpoint(desktop-up) {
    width: 13rem;
  }
}
.big-map {
  width: 40rem;
}
.middle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 37px;
}
.white {
  color: colors(white) !important;
}
.black {
  color: #282a3c !important;
}
.margin-top-2 {
  margin-top: 2rem !important;
}

%large-text {
  font-family: Avenir;
  font-weight: bold;
  font-size: 64px;
  line-height: 100px;
}

.large-text {
  &--light {
    @extend %large-text;
    opacity: 0.1;
  }
}

$fontSizes: (1, 1, 3);

// @each $size in $fontSizes {
//   .font-#{$size} {
//     font-size: ($size) rem;
//   }
// }
