.awards {

  // width: 100%;
  // margin: 0 auto;
  // position: relative;
  // top: 25%;
  // padding-bottom: 3rem;
  @include breakpoint(phone-only) {
    & img {
      width: 8rem;
      margin-top: 2rem;
    }
  }

  @include breakpoint(big-desktop-up) {
    padding-bottom: 8rem;
  }
}

.react-tel-input .country-list {
  width: 240px !important;
}

.grayscale {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  filter: grayscale(0%);
  transition: all 0.5s ease;
  width: 45px !important;
  cursor: pointer;
  height: 45px !important;
  margin: auto;
}

.green-x {
  color: colors(#36b37e);
  margin-left: 30rem;
}

.home-title {
  @include breakpoint(phone-only) {
    font-size: 1.5rem;
    padding: .5rem 1rem;
  }
}

.video-overlay {
  // position: absolute;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  overflow: hidden;
  width: 100%;
  background-color: black;
  opacity: 0.6;

  @include breakpoint(phone-only) {
    opacity: 0.2;
    // display: none;
  }
}

.header-home {
  height: 100vh;
}

.slide {
  margin-left: 1.5rem;

  @include breakpoint(phone-only) {
    // margin-top: 2rem;
    margin-left: 0;
    margin-right: 1rem;
    text-align: center;
    width: 100% !important;
  }
}

.home {
  min-height: 35rem;
  height: 100vh;
  position: relative;

  @include breakpoint(phone-only) {
    background-image: url("../images/home@2x.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 40rem;

    // width: 100%;
    // height: 100%;
    // object-fit: cover;

    background-position: center;
    overflow: hidden;
  }

  &-text {
    position: relative;
    color: #fff;
    text-align: center;
    // margin-top: 8rem;
    width: 100%;

    @include breakpoint(tablet-portrait-up) {
      margin-top: 14rem;
    }

    @include breakpoint(tablet-landscape-up) {
      position: relative;
      color: #fff;
      text-align: center;
      margin-top: 8rem;
      width: 100%;
    }
  }

  // &-video {
  //   position: fixed;
  //   top: 50%;
  //   left: 50%;
  //   z-index: -100;
  //   min-width: 100%;
  //   min-height: 100%;
  //   width: auto;
  //   height: auto;
  //   -webkit-transform: translate(-50%, -50%);
  //   -ms-transform: translate(-50%, -50%);
  //   transform: translate(-50%, -50%);
  //   @include breakpoint(phone-only) {
  //     display: none;
  //   }

  //   @include breakpoint(tablet-landscape-up) {
  //     position: fixed;
  //     top: 50%;
  //     left: 50%;
  //     z-index: -100;
  //     min-width: 100%;
  //     min-height: 100%;
  //     width: auto;
  //     height: auto;
  //     -webkit-transform: translate(-50%, -50%);
  //     -ms-transform: translate(-50%, -50%);
  //     transform: translate(-50%, -50%);
  //   }
  // }
  &-slide {
    width: auto;
    padding-right: 30px;
    height: 40px;
    cursor: pointer;
    margin-bottom: 20px;
    outline: none;

    & img {
      max-width: 80px;
    }
  }
}

.trucks {
  height: 90vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}

.trucks-content {
  margin-left: 2rem;
  padding-top: 27rem;
}

.reg-button {
  background-color: #d32037;
}

.truck-register {
  background-color: #d32037;
}

.modal {
  position: fixed;
  /* Stay in place */
  z-index: 100;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  padding-top: 5rem;
  // background-color: rgb(0, 0, 0);
  background-color: rgb(54, 179, 124);
  /* Fallback color */
  background-color: rgba(133, 103, 103, 0.6);
  /* Black w/ opacity */
  transition: 0.3s all ease;
}

.register {
  &-box {
    width: 500px;
    margin: 120px auto;
    // background-color: colors(modal);
    background-color: #ff932f;
    border-radius: 5px;
    padding: 1.5rem;
  }

  &-button {
    @extend %button;
    border-radius: 5px;
    width: 100%;
  }
}

.signin {
  &-box {
    width: 15em;
    margin: 0 auto;
    background-color: colors(modal);
    border-radius: 5px;
    padding: 1.5rem;
  }

  &-button {
    @extend %button;
    border-radius: 5px;
    width: 100%;
  }
}

.home-container {
  height: 100%;
  // max-width: 75rem;
  // margin-left: auto;
  // margin-right: auto;
}

.home-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-button {
  @extend %button;
  border-radius: 5px;
  margin: 10px 0.8rem;
}

.home-video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;

  & video {
    width: 100%;
    height: 100%;
    object-fit: cover;

    @include breakpoint(phone-only) {
      display: none;
    }
  }
}

.manual-download {

  @include breakpoint(phone-only) {
    padding-bottom: 2.5rem !important;
    font-size: .8rem;
    margin-bottom: 9em;
    margin-left: 3rem;
    margin-right: 3rem;

  }
}

.brands {
  // margin: 0 8.5rem;
  // position: relative;
  // justify-content: space-between;
  // margin-top: 7rem;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  height: max-content;
  width: 100%;

  @include breakpoint(phone-only) {
    position: absolute;

    // margin: 1rem auto;
    // display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 100%;
    // bottom: -2rem;
  }

  @include breakpoint(tablet-landscape-up) {
    // margin: 0 7rem;
    // position: relative;
    // justify-content: space-between;
    // margin-top: 7rem;
    // flex-direction: row;
  }

  // @include breakpoint(tablet-portrait-up) {
  //   margin: 0;
  //   margin: 0 2rem;
  //   position: relative;
  //   margin-top: 6rem;
  //   flex-direction: column-reverse;
  //   align-items: center;
  // }
}

.brands-apps {
  margin-right: 10em;

  @include breakpoint(phone-only) {
    margin: 0;
    margin-bottom: .5em;
  }

  @include breakpoint(tablet-portrait-up) {
    margin: 0;
  }
}

.app-store img {
  height: 2.2rem;
}

.download-img {
  margin-right: 1rem;
}

.download {
  @include breakpoint(phone-only) {
    &-text {
      font-size: 1rem;
      text-align: center;
    }
  }

  @include breakpoint(tablet-portrait-up) {
    &-text {
      text-align: center;
    }
  }
}

.slide {
  @include breakpoint(phone-only) {
    // margin-top: 2rem;
    margin-left: 0;
    margin-right: 1rem;
    text-align: center;
    width: 100% !important;
  }

  @include breakpoint(tablet-portrait-up) {
    margin-left: 0;
    // width: 90% !important;
  }
}

.register-box {
  @include breakpoint(phone-only) {
    width: 300px;
  }
}

.green-x {
  @include breakpoint(phone-only) {
    margin-left: 17rem;
  }
}

// .brands-apps {
//   position: absolute;
//   bottom: 10%;
// }
.trusted-text {
  padding: 0.2rem 0;

  @include breakpoint(tablet-portrait-up) {
    text-align: center;
    // padding: 1rem 0;
  }
}

//MOBILE VIEW
@media (width: 1024px) {
  .home-slide img {
    /* height: 29px; */
    max-width: 75px;
  }
}

// .dropdown input:checked ~ ul {
//   visibility: visible;
//   opacity: 1;
//   top: 0;
// }
// $colorss: #ff932f, #2b3c95, #ff932f, #2b3c95;

// @for $i from 1 through length($colorss) {
//   .dropdown ul li:nth-child(#{$i}) {
//     border-left: 4px solid nth($colorss, $i);
//     .fa {
//       color: nth($colorss, $i);
//     }
//     &:hover {
//       background: nth($colorss, $i);
//       color: white;
//       .fa {
//         color: white;
//       }
//     }
//   }
// }

// .animate {
//   -webkit-transition: all 0.3s;
//   -moz-transition: all 0.3s;
//   -ms-transition: all 0.3s;
//   -ms-transition: all 0.3s;
//   transition: all 0.3s;
//   backface-visibility: hidden;
//   -webkit-backface-visibility: hidden; /* Chrome and Safari */
//   -moz-backface-visibility: hidden; /* Firefox */
//   -ms-backface-visibility: hidden; /* Internet Explorer */
// }