h1,
p {
  margin: 0;
}

.care {
  // background-color: colors(light-orange);
  background-color: #36b37c;
  padding-top: 8rem;
  padding-bottom: 20rem;

  &-button {
    @extend %button;
    border-radius: 5px;
    // animation: shadow-pulse 1s infinite;
  }

  &-heading {
    flex-direction: column;
  }

  &-box {
    margin-left: 4.5rem;
    margin-top: -14.8rem;
    padding-bottom: 5rem;

    @include breakpoint(big-desktop-up) {
      align-items: center;
      justify-content: center;
    }

    &__card {
      background-color: colors(white);
      margin: 0 5rem;
      padding: 2rem;
      width: 45%;
    }
  }
}

.partners {
  background-color: #36b37c;
  padding: 2rem 1rem;

  &-images {
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

ul {
  list-style: none;
}

ul .list-care::before {
  content: "\2022";
  color: colors(green);
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.tyre {
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

@media (max-width: 768px) {
  .care {
    &-heading {
      text-align: center;
      padding: 0.1rem 1rem;

      & h1 {
        font-size: 1.4rem;
        margin-bottom: 0.5rem;
      }
    }

    &-box {
      display: block;
      margin-top: -18rem;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      padding-bottom: 2rem;

      &__card {
        width: 100%;
        margin: 0 0.3rem;
        border-radius: 1rem;
      }
    }
  }

  .kobocare-images {
    display: none !important;
  }

  .partners {
    background-color: #fff;
  }

  .line {
    width: 8.5rem;
  }

  .partners-images {
    flex-direction: column;
    margin: 0 auto;

    img {
      padding-right: 0;
      padding-top: 0;
      padding-bottom: 2rem;
    }
  }
}

button.care-button.middle.aos-init.aos-animate {
  background-color: #d32037;
}