body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont,  'Satisfy', 'Akaya Telivigala', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    cursive; */
  font-family: 'Satisfy' cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Akaya Kanadaka', 'Courier New',
    monospace;
}